@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  min-height: 100%;
  background-color: rgb(242, 242, 242);
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

/* для sticky footer */
.main__container{
  flex-grow: 1;
}

.page__container {
  width: 1060px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* убирает отступ слева и значки у списков*/
ul {
  padding-inline-start: 0;
  list-style: none;
}

/* навигация в шапке */
.nav {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.nav_left_list {
  width: 440px;         /*с запасом на 1 элемент */
}

.nav_right_list{       /*с запасом на 1 элемент */
  width: 300px;
  margin-left: auto;  /* что от чего лучше отталкивать? margin-left или margin-rigth    или лучше justify-content*/
}

.nav_left_link {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  text-decoration: none;
}

.main__intro {
  background-image: url('../images/index-background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 485px; /*не забыть ниже вектор*/
}

/*ставит логотип по центру*/
.sedona__logo_main {
  display: block;
  margin: 0 auto;
}

.sedona__about{
  margin: 0;
  padding: 0;
  text-align: center;
}

.about_header {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  max-width: 619px;
  text-transform: uppercase;
}

.about_text {
  color: rgb(51, 51, 51);
  font-size: 22px;
  line-height: 26px;
  max-width: 651px;
}

/*Преимущества*/
.advantages__list {
  display: flex;
}

.advantages__list_item {
  width: 1200px;
  height: 385px;
  background-color: rgb(130, 179, 211);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantage_square,
.advantage_tourist {
  background: rgba(131, 179, 211, 0.12);
  color: rgb(0, 0, 0);
}

.advantage_road {
  background: rgba(131, 179, 211, 0.2);
  color: rgb(0, 0, 0);
}

.advantage {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  max-width: 175px;
  max-height: 56px;
}

.advantage__text{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  max-width: 230px;
  max-height: 63px;
}

.invitation {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Достоинства */
.benefits__list{
  display: flex;
}

.benefits__list_item{
  width: 400px;
  margin: 0;
  padding: 80px 85px;
  text-align: center;
}

.benefits__list_item:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.12);
}

/*Приглашение*/
.hotel_search{
  margin: 0;
  padding: 0;
  text-align: center;
}

.invite {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  }

.invite_text {
  color: rgb(51, 51, 51);
  font-size: 22px;
  line-height: 26px;
}

/*Подписка на рассылку*/
.subscribes__background {
  background-image: url(../images/subscribe_background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 415px;

}

.subscribes_main {
  color: rgb(255, 255, 255);
  padding: 96px 258px 104px 258px;
  flex-direction: column;
  text-align: center;

}

.subscribes__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;

}

.subscribes__text {                       /*почему не становится по центру вместе с заголовком?*/
  font-size: 22px;
  line-height: 26px;
  max-width: 475px;
}

.main_header {
color: rgb(255, 255, 255);
font-size: 60px;
font-weight: 700;
line-height: 78px;
text-align: left;
}

/*Кнопки*/
.button {                                       /*другие кнопки добавить*/
  color: rgb(255, 255, 255);
  background-color: rgb(130, 179, 211);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;

}

.button.button_selected {
  color: rgb(255, 255, 255);
  background-color: rgb(125, 181, 79);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
}

.button_clear {
  background-color: transparent;
}

/* переход на модальную страницу */

.open_modal, .more{
  color: rgb(255, 255, 255);
  background-color: rgb(117, 97, 87);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
}

/* хлебные крошки */
.breadcrumbs__item{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

/* выбор отеля в Каталоге */
.selection__wrapper {
  background-image: url('../images/catalog_background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 412px;
}

.selection_title {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
}

.infrastructure_type, .accomodation_type{
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}

.result_header {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}


.selected__hotels__list{
  display: flex;
  justify-content: space-between;
}

/* выбранные отели */
.hotel__name {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  width: 340px;
  text-decoration: none;
    /*почему не сработало*/
}

.type {
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.price {
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
}

.hotel__raiting {
  color: rgb(51, 51, 51);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  background: rgb(242, 242, 242);
  width: 140px;
  height: 37px;
}

.page_link {
  color: rgb(255, 255, 255);
  background-color: rgb(130, 179, 211);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.page_text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
